body {
    font-size: 25px;
    text-align: center;
    background-color: wheat;
}

h1 {
    font-size: 90px;
    margin-top: 100px;
    transition: all 0.3s;
}

h1:hover {
    transform: translateY(-10px);
    text-shadow: 1px 1px 20px rgb(151, 135, 60);
}

label {
    font-size: 50px;
    transition: all 0.3s;

}

label:hover {
    transform: translateY(-10px);

}

input {
    height: 30px;
    width: 400px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 30px;
    color: red;
}

button {
    width: 170px;
    height: 50px;
    font-size: 30px;
}

p {
    font-size: 40px;
    margin-top: 200px;
}

#result {
    color: rgb(113, 170, 28)  ;
}


@media (max-width: 500px) {
    h1 {
        font-size: 50px;
        margin-bottom: 100px;    
    }

    label {
        font-size: 45px;
    }

    input {
        border-radius: 10px;
        margin-top: 60px;
        margin-bottom: 70px;
    }

    button {
        border-radius: 10px;
        font-size: 40px;
        height: 70px;
        width: 230px;
    }

    p {
        margin-top: 100px;
        font-size: 45px;
    }
}


@media (max-width: 470px ) {
    h1 {
        font-size: 40px;
    }

    label {
        font-size: 40px;
    }

    input {
        width: 350px;
    }
}

@media (max-width: 390px) {
    h1 {
        font-size: 37px;
    }

    label {
        font-size: 37px;
    }

    input {
        width: 300px;
    }

    button {
        font-size: 35px;
        height: 60px;
        width: 200px;
    }

    p {
        font-size: 40px;
    }
}

@media (max-width: 370px) {
    h1 {
        font-size: 35px;
    }
}